@import '../scss/foundations/variables';
@import '../scss/foundations/reset';

*, *::before, *::after{
    box-sizing: border-box;
    // font-family: $montserrat, "sans-serif";
    color: $bg-300;
}

html{
    background-color: $dark-bg-100;
    margin: 0;
    padding: 0;
    // font-family: $montserrat, "sans-serif";
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection {
    // background-color: $dark-bg-400;
    // color: $primary-200;
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$desktop_article_title: 2.25rem;
$desktop_h1: 4rem;
$desktop_h2: 2rem;
$desktop_large: 1.125rem;
$desktop_regular: 1rem;
$desktop_small: 0.875rem;
$desktop_caption: 0.750rem;

$duration: .5s;